DB_FILEPATH=./target/
GENESIS_FILEPATH=./example.genesis.json
EXECUTION_GRPC_ADDR=0.0.0.0:50051
COMPOSER_ADDR=http://127.0.0.1:50052
LOG=debug
FORCE_STDOUT=true
PRETTY_PRINT=true
NO_OTEL=false
NO_METRICS=true
METRICS_HTTP_LISTENER_ADDR=http://127.0.0.1:50053